extends layout

block content
  h1= title
  ul
    for room in rooms
      li
        a(href='/rooms/'+room)= room
  div(style='margin-top:50px')
    input#new-room(placeholder='Please enter name of new room' style='width: 300px')
    button#add-new-room Add new room
